html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* * {
  border: 1px solid red;
} */

/* Variables */
:root {
  --azure: #3882F6;
  --baby-powder: #F9FAF8;
  --platinum: #E5E7EB;
  --gunmetal: #1F2937;
}

/* General */
body {
  font-family: 'Roboto', sans-serif;
}

/* logo BLOCK */
.logo {
  font-size: 24px;
  font-weight: 700;
  color: var(--baby-powder);
}

/* nav BLOCK */
.nav {
  display: flex;
  gap: 24px; 
  align-items: center;
}

.nav__item {
  font-size: 18px;
  color: var(--baby-powder);
  text-decoration: none;
}

.nav__item_selected {
  font-weight: 700;
}

/* button BLOCK */
.button {
  font-size: 18px;
  font-weight: 500;
  color: var(--baby-powder);
  background-color: var(--azure);
  border: none;
  border-radius: 8px;
  padding: 8px 34px;
}

/* header BLOCK */
.header__inner {
  display: flex;
  justify-content: space-between;
  max-width: 1024px;
  margin: auto;
}

/* hero BLOCK */
.hero {
  background-color: var(--gunmetal);
}

.hero__inner {
  max-width: 1064px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 138px;
  padding-right: 20px;
  padding-left: 20px;
}

.hero__main {
  display: flex;
  margin-top: 120px;
  gap: 55px;
}

.hero__content {
  display: flex;
  flex-direction: column;
  max-width: 447px;
  align-items: flex-start;
  justify-content: space-between;
}

.hero__main-text {
  font-size: 48px;
  font-weight: 900;
  color: var(--baby-powder);
}

.hero__sub-text {
  font-size: 18px;
  color: var(--baby-powder);
}

.hero__img {
  width: 522px;
  height: 226px;
  background-color: var(--baby-powder);
  border-radius: 10px;
}

/* gallery BLOCK */
.gallery {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

/* gallery-item BLOCK */
.gallery-item {
  width: 168px;
}

.gallery-item__img {
  width: 168px;
  height: 168px;
  background-color: var(--baby-powder);
  border: 4px solid var(--azure);
  border-radius: 16px;
}

.gallery-item__text {
  font-size: 18px;
  color: var(--gunmetal);
  text-align: center;
  margin-top: 10px;
}

/* product-section BLOCK */
.product-section__inner {
  max-width: 1064px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 138px;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  margin-top: 50px;
  padding-bottom: 138px;
}

.product-section__main-text {
  font-size: 36px;
  font-weight: 700;
}

/* quote-section BLOCK */
.quote-section {
  background-color: var(--platinum);
}

.quote-section__inner {
  max-width: 784px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 130px;
  padding-bottom: 130px;
  display: flex;
  flex-direction: column;
}

.quote-section__text {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  align-self: center;
  color: var(--gunmetal);
}

.quote-section__author {
  align-self: flex-end;
  color: var(--gunmetal);
  font-size: 24px;
  font-weight: 500;
  margin-top: 20px;
}
